:root {
  --oui-font-family: 'Lato', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 117 255 159;
  --oui-color-primary-light: 118 244 185;
  --oui-color-primary-darken: 5 15 0;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 71 211 230;
  --oui-color-link-light: 255 255 255;

  --oui-color-secondary: 85 236 191;
  --oui-color-tertiary: 31 214 211;
  --oui-color-quaternary: 92 240 190;

  --oui-color-danger: 255 255 255;
  --oui-color-danger-light: 255 255 255;
  --oui-color-danger-darken: 0 0 0;
  --oui-color-danger-contrast: 0 0 0;

  --oui-color-success: 0 0 0;
  --oui-color-success-light: 0 0 0;
  --oui-color-success-darken: 0 0 0;
  --oui-color-success-contrast: 0 0 0;

  --oui-color-warning: 255 0 0;
  --oui-color-warning-light: 255 0 0;
  --oui-color-warning-darken: 0 0 0;
  --oui-color-warning-contrast: 0 0 0;

  --oui-color-fill: 0 0 0;
  --oui-color-fill-active: 60 211 206;

  --oui-color-base-1: 255 255 255;
  --oui-color-base-2: 255 255 255;
  --oui-color-base-3: 0 0 0;
  --oui-color-base-4: 0 0 0;
  --oui-color-base-5: 24 22 22;
  --oui-color-base-6: 0 0 0;
  --oui-color-base-7: 0 25 18;
  --oui-color-base-8: 0 0 0;
  --oui-color-base-9: 0 0 0;
  --oui-color-base-10: 0 15 12;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 240 0 0;
  --oui-color-trading-loss-contrast: 0 0 0;
  --oui-color-trading-profit: 3 179 0;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 255 255 255;
  --oui-gradient-primary-end: 255 255 255;

  --oui-gradient-secondary-start: 255 255 255;
  --oui-gradient-secondary-end: 255 255 255;

  --oui-gradient-success-start: 0 0 0;
  --oui-gradient-success-end: 0 0 0;

  --oui-gradient-danger-start: 0 0 0;
  --oui-gradient-danger-end: 0 0 0;

  --oui-gradient-brand-start: 255 255 255;
  --oui-gradient-brand-end: 255 255 255;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 0 0 0;
  --oui-gradient-warning-end: 0 0 0;

  --oui-gradient-neutral-start: 0 0 0;
  --oui-gradient-neutral-end: 0 0 0;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Lato', sans-serif !important;
  font-size: 16px !important;
}