:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 255 255 255;
  --oui-color-primary-light: 220 220 220;
  --oui-color-primary-darken: 0 0 0;
  --oui-color-primary-contrast: 0 0 0;

  --oui-color-link: 255 255 255;
  --oui-color-link-light: 220 220 220;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 200 200 200;
  --oui-color-quaternary: 180 180 180;

  --oui-color-danger: 0 0 0;
  --oui-color-danger-light: 100 100 100;
  --oui-color-danger-darken: 0 0 0;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 0 0 0;
  --oui-color-success-light: 100 100 100;
  --oui-color-success-darken: 0 0 0;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 0 0 0;
  --oui-color-warning-light: 100 100 100;
  --oui-color-warning-darken: 0 0 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 20 20 20;
  --oui-color-fill-active: 40 40 40;

  --oui-color-base-1: 245 245 245;
  --oui-color-base-2: 230 230 230;
  --oui-color-base-3: 215 215 215;
  --oui-color-base-4: 200 200 200;
  --oui-color-base-5: 185 185 185;
  --oui-color-base-6: 170 170 170;
  --oui-color-base-7: 155 155 155;
  --oui-color-base-8: 140 140 140;
  --oui-color-base-9: 30 30 30;
  --oui-color-base-10: 0 0 0;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 237 12 12;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 46 229 135;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 255 255 255;
  --oui-gradient-primary-end: 200 200 200;

  --oui-gradient-secondary-start: 220 220 220;
  --oui-gradient-secondary-end: 200 200 200;

  --oui-gradient-success-start: 0 0 0;
  --oui-gradient-success-end: 0 0 0;

  --oui-gradient-danger-start: 0 0 0;
  --oui-gradient-danger-end: 0 0 0;

  --oui-gradient-brand-start: 255 255 255;
  --oui-gradient-brand-end: 200 200 200;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 0 0 0;
  --oui-gradient-warning-end: 0 0 0;

  --oui-gradient-neutral-start: 0 0 0;
  --oui-gradient-neutral-end: 50 50 50;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}